@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Outfit:wght@800&display=swap");

.writeBlog {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
}

.blogForm {
  display: flex;
  border: 2px solid rgb(148, 153, 158);
  margin-top: 2rem;
  flex-direction: column;
  width: 80%;
  height: 80vh;
  padding: 20px;
  border-radius: 25px;
}

.blogForm__body {
  height: 100%;
}

textarea {
  resize: none;
  outline-width: 0;
  border-radius: 20px;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
  font-size: large;
  border: 1px solid lightgray;
}

.blogForm > label,
.blogForm__image > label {
  margin-bottom: 8px;
  margin-top: 8px;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

.writeBlog__heading {
  outline-width: 0;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid lightgray;
}

.writeBlog__header {
  width: 100%;
  font-size: large;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
  font-weight: 1000;
  font-size: 60px;
}

.blogForm > button {
  all: unset;
  background-color: #7207fa;
  width: fit-content;
  padding: 15px;
  color: white;
  border-radius: 45%;
  font-size: larger;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 1000;
  margin: auto;
  cursor: pointer;
}

.blogForm > button:hover {
  box-shadow: 0 0 12px #3e1a6d;
}
